.register{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to right, rgba(90, 135, 138, 0.39), rgba(138, 255, 92, 0.555));

}
.register h1{
    color: rgb(25, 126, 15);
    text-shadow: 2px 2px rgb(4, 61, 19);
}
.register__wrapper{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.register__container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.register__form{
    width: 35%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 40px 60px 40px 60px;
    border-radius: 10px;
}

.registerImg__container img{
    height: 300px;
    width: 500px;
    margin-right: 20%;
    border-radius: 10%;
}

